*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

img{
  cursor: pointer;
}
.left-side{
  background: #fff;
  width: 29%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 1% 1%;
  border-right: 1px solid #f1f1f1;
}
.left-side .obrolan{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  color: #5a5a5a;
}
.left-side .obrolan h3{
  font-size: 24px;
  color: #050505;
  font-weight: 600;
}
.left-side .obrolan a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #f1f1f1;
  margin-left: 15px;
}
.left-side .obrolan a:hover{
  background: #dadada;
}
.left-side .obrolan img{
  width: 28px;
}
.left-side .search-box{
  display: flex;
  align-items: center;
  padding: 12px 12px;
  margin-top: 15px;
  border-radius: 25px;
  background: #f1f1f1;
}
.left-side .search-box img{
  width: 15px;
  margin-right: 10px;
}
.left-side .search-box input{
  font-size: 16px;
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
}
.friendbox{
  margin-top: 15px;
  height: 77vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}
.friendbox .list-friends{
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}
.friendbox .list-friends img{
  width: 60px;
  margin-right: 15px;
  border-radius: 50%;
}
.friendbox .list-friends p{
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #5a5a5a;
  font-size: 14px;
  margin-top: 2px;
}
.friendbox .list-friends span.bull{
  color: #5a5a5a;
  font-size: 12px;
}
.shadow-bottom{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.container{
  background: #fff;
  padding-left: 29%;
  padding-right: 0%;
  padding-top: 0px;
  padding-bottom: 10px;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 10px 20px;
}
.nav .profile-chat{
  display: flex;
  align-items: center;
}
.nav .profile-chat img{
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.nav .profile-chat span{
  font-size: 14px;
  color: #5a5a5a;
}
.nav .action-chat img{
  width: 30px;
  margin-right: 15px;
}
.chatbox{
  width: 100%;
  min-width: 250px;
  display: flex;
}
.messages{
  height: 75vh;
  margin-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}
.col-1{
  width: 100%;
  flex: 1;
}
.msg-row{
  display: flex;
  align-items: center;
  margin: 15px;
}
.msg-text{
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 10px;
  border-radius: 20px;
  min-width: 10px;
  font-weight: 300;
  background: #f1f1f1;
}
.msg-img{
  width: 50px;
  border-radius: 50%;
  margin: 0 10px;
}
.msg-row2{
  justify-content: flex-end;
}
.msg-row2 .msg-text{
  color: #fff;
  background-color: #0084ff;
}
.col-1 input{
  border: 0;
  outline: none;
  background: #3874c9;
  color: #fff;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
}
.type-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
.type-text img{
  width: 20px;
}

.input-text{
  background: #f1f1f1;
  padding: 6px 10px 8px 10px;
  border-radius: 25px;
}
.input-text img{
  width: 18px
}
.input-text input{
  width: 700px;
  border: 0;
  outline: 0;
  background: transparent;
  color: #050505;
}
.input-text input::placeholder{
  color: #8f8f8f;
}
@media (max-width: 1300px){
  .input-text input {
    width: 300px;
  }
}
@media (max-width: 900px){
  .friendbox{
    height: 85vh;
  }
  .friendbox .list-friends div, .friendbox .list-friends span{
    display: none;
  }
  .left-side .obrolan{
    display: none;
  }
  .left-side .search-box{
    padding: 8px 8px;
  }
  .friendbox{
    padding-left: 5%;
  }
  .left-side{
    width: 22%;
  }
  .container{
    padding-left: 22%;
  }
  .msg-text p{
    font-size: 14px;
  }
  .input-text input {
    width: 130px;
    font-size: 14px;
    padding: 4px 10px 2px 10px;
  }
  .input-text img{
    width: 15px
  }
  .type-text img {
    width: 18px;
  } 
  .nav .action-chat img{
    width: 20px;
    margin-right: 15px;
  }
}


